<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>

<h1>Update your profile</h1>
<div class = "sidebar">
<% content_for(:sidebar) do %>
    <%= render :partial => "sidebar" %>
<% end %>

</div>
<div class="row">
 
    <%= render 'sidebar' %>

</div>
 <nav class= "bar">
      <ul class="nav navbar-nav ">
        <li><%= link_to "Personal Info",   edit_user_path(current_user) %></li>
        <li><%= link_to "Avatar"  ,  "#" %></li>
        <li><%= link_to "Password",  edit_pass_path %></li>
        <li><%= link_to "Verification",  verification_path %></li>
      </ul>
    </nav>
    
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= render 'pass_form' %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
  </div>
</div>