<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>


<div class = "sidebar">
<% content_for(:sidebar) do %>
    <%= render :partial => "sidebar" %>
<% end %>

</div>
<div class="row">
 
    <%= render 'sidebar' %>

</div>
 <nav class= "bar">
      <ul class="nav navbar-nav ">
        <li><%= link_to "Personal Info",   edit_user_path(current_user) %></li>
        <li><%= link_to "Avatar"  ,  "#" %></li>
        <li><%= link_to "Password",  edit_pass_path %></li>
        <li><%= link_to "Verification",  verification_path %></li>
      </ul>
    </nav>
<div>
   <%= form_for(@user, url:update_veri_path(@user.id) ) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <%= f.label :"card type" %>
  <%= f.text_field :cardtype, class: 'form-control' %>
  <%= f.label :"card number" %>
  <%= f.text_field :cardnum, class: 'form-control' %>
  <%= f.label :"upload image no large than 2mb" %>
  <%= f.file_field :image01, class: 'form-control' %>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
</div>

<div>
<% if @user.image01.attached? %>
  <image src="<%= (url_for(@user.image01)) %>">
<% end %>
</div>