<% if logged_in? %>
<div class="col-md-1 col-md-1 col-md-1 col-md-1 "position-relative" ">
  <ul class="nav nav-siderbar nav-left">
    <li class="sidebar_profile"><%= link_to  "My Profile", current_user %>
    </li>
    <li>
      <%= link_to  "My Posts", myposts_path %>
    </li>
    <li>
      <%= link_to  "My Comments", mycomments_path %>
    </li>
    <li>
      <%= link_to  "Comments to Me", commentstome_path %>
    </li>
    <li>
      <%= link_to  "Setting", setting_path %>
    </li>
  </ul>
</div>
<% end %>

    